html {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('../img/topography.png');    
}

a {
    color: #42c2f4;
    text-decoration: none;
}

.nav-links, .nav-links:visited {
    display: inline-block;
    margin: 0 30px;
    color: white;
}

.nav-links:hover {
    color: #FF5733;
}

#layout-header {
    width: 100%;
    background-image: url('../img/stardust.png');
    text-align: center;
    color: rgb(255, 255, 255);
}

#layout-header p {
    margin: 0;
}

#layout-main {
}

#layout-footer {
    font-size: 14px;
    bottom: 0;
    width:100%;
    background-color: rgb(79,93,68);
    position: fixed;
    clear: both;
}

#layout-footer p {
    float: right;
    margin-right: 10px;
}

.container {
    background-color: rgb(0, 0, 0, .55);
    padding: 2.5% 3% 45px 3%;
    width: 54%;
    margin: 0 auto;
    height: 100%;
}

#me {
    height: 300px;
    float: left;
    margin: 0 30px;
    border-radius: 100%; 
}

#myintro {
   text-align: center;
   height: 400px;
   width: 800px;
   margin: 0 auto;
   padding: 20px;
   background: rgb(255,255,255,0.75); 
}

#welcome {
   text-align: justify;
}

.social-icons {
    float: left;
    height: 35px;
    margin: 10px 5px 0px 5px;
}
