html {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    color: #42c2f4;
    text-decoration: none;
}

.nav-links, .nav-links:visited {
    display: inline-block;
    margin: 5px 30px;
    color: white;
}

.nav-links:hover {
    color: #FF5733;
}

#layout-header {
    background-image: url('../img/stardust.png');
    text-align: center;
    color: rgb(255, 255, 255);
    min-height: 50px;
    height: 5%;
}

#layout-header p {
    margin: 0;
}

#layout-main {
    background-image: url('../img/topography.png');
    margin: 0 auto;
    height: 90%;
    padding-bottom: 0;
}

#layout-footer {
    font-size: 14px;
    bottom: 0;
    width:100%;
    height: 5%;   /* Height of the footer */
    min-height: 45px;
    background-color: rgb(0, 204, 153, .5);
    position: fixed;
}

#layout-footer p {
    float: right;
    margin-right: 10px;
}

.container {
    background-color: rgb(0, 0, 0, .55);
    padding: 2.5% 3% 45px 3%;
    width: 54%;
    margin: 0 auto;
    height: 95%;
}

#me {
    max-height: 350px;
    margin: 0 30px;
    border-radius: 100%;
    float: left;
}

#myintro {
    width: 100%;
    margin: 0 auto;
    background-color: yellow;
}

.social-icons {
    float: left;
    height: 35px;
    margin: 10px 5px 0px 5px;
}