{% extends "layout.html" %}

{% block content %}
    <p id="fullname">Fernando Emiliano Romero Galvan</p>
    <p class="contact-info">fernando.romerogalvan.367@my.csun.edu</p>
    <hr>
        <p>
            Geographic Information System (GIS) Major from California State University of Northridge with a strong background in Web Development and Data Analysis. I have been involved in various projects where there was a need to take a leadership role. Bilingual, can speak, read, and write in both English and Spanish. Excellent customer service and team player. My strongest attribute is my passion for both learning and teaching.
        </p>
    <hr>
    <h2>Experience</h2>
        <details>
            <summary><b>Title: </b></summary>
            <p class="job-from"> 01/01/2018 - Current
            </p>
            <p class="job-description"><b></b>Responsibilities:</b> some description of my Responsibilityies</p>
        </details>
        <details>
            <summary><b>Title: </b></summary>
            <p class="job-from"> 01/01/2018 - Current
            </p>
            <p class="job-description"><b></b>Responsibilities:</b> some description of my Responsibilityies</p>
        </details>
        <details>
            <summary><b>Title: </b></summary>
            <p class="job-from"> 01/01/2018 - Current
            </p>
            <p class="job-description"><b></b>Responsibilities:</b> some description of my Responsibilityies</p>
        </details>
    <hr>
    <h2>Education</h2>
    <details>
        <summary><b>Institution: </b></summary>
        <p>Bachelors of Science in Geographic Information Systems</p>
    </details>
    <hr>
    <h2>Skill-Set</h2>
    <ul>
        <li>Python</li>
        <li>Java</li>
        <li>HTML/CSS</li>
        <li>Jscript</li>
        <li>JQuery</li>
        <li>SQL</li>
        <li>Command Line/PowerShell</li>
        <h4>Web-Development Frameworks</h4>
        <ul>
            <li>Flask</li>
        </ul>
    </ul>
    <hr>
{% endblock %}