{% extends "layout.html" %}

{% block content %}
    <p id="fullname">Fernando Emiliano Romero Galvan</p>
    <p class="contact-info">fernando.romerogalvan.367@my.csun.edu</p>
    <hr>
        <p>
            Geographic Information System (GIS) Major from California State University of Northridge with a strong background in Web Development and Data Analysis. I have been involved in various projects where there was a need to take a leadership role. Bilingual, can speak, read, and write in both English and Spanish. Excellent customer service and team player. My strongest attribute is my passion for both learning and teaching.
        </p>
    <hr>
    <h2>Experience</h2>
        <details>
            <summary><b>Title:</b> GIS Technician | <a href="https://www.csun.edu/center-for-geographical-studies" target="_blank">Center for Geographic Studies and Technology</a></summary>
            <p class="job-from">May 1, 2018 - Current</p>
            <p class="job-description"><b>Responsibilities:</b><br></p>
        </details>
        <details>
            <summary><b>Title:</b> GIS Technician Intern. | <a href="https://www.csun.edu/center-for-geographical-studies" target="_blank">Center for Geographic Studies and Technology</a></summary>
            <p class="job-from">October 1, 2018 - May 1, 2018</p>
            <p class="job-description"><b>Responsibilities:</b><br></p>
        </details>
        <details>
            <summary><b>Title:</b> Desktop Support Technician | <a href="https://sigue.com/" target="_blank">Sigue Corporation</a></summary>
            <p class="job-from">Aug, 2015 - May 14, 2018</p>
            <p class="job-description"><b>Responsibilities:</b><br> 
            My main reposibilities included: Setting up workstations, ensure functionality of workstation-equipment (Laptops, Desktops, Printers, Faxes, VoIP-Phones, Peripherals) and conference room-equipment (Desktops, Projectors, VoIP-Conference Phones, Peripherals), maintain/create security groups/distribution lists, provide both local and remote assistance to all users, Create/Maintain User Credentials, E-mail creation.<br>
            All of these responsibilities were handled/completed to the best of my technical and customer-service ability in an organized ticket-oriented environment, and following all procedures as defined by I.T.</p>
        </details>
        <details>
            <summary><b>Title:</b> Application Support Analyst | <a href="https://sigue.com/" target="_blank">Sigue Corporation</a></summary>
            <p class="job-from">Aug, 2015 - May 14, 2018</p>
            <p class="job-description"><b>Responsibilities:</b><br>
            My main responsibilities were to provide technical support to users for all of our in-house applications and monitor production databases, should any discrepencies be found within any of our databases it was my responsibility to gauge the scope of the problem and either apply a fix or escalate with the proper team. Third-Party applications were also under my scope of responsibility, mainly supporting the Microsoft Dynamics CRM integration, deployment, and maintenance. Data Scrubbing was also one of my tasks, I mainly used Excel to complete the majority of these tasks and only ever used Python once to geocode addresses for our company website.</p>
        </details>
        <details>
            <summary><b>Title:</b> Project Lead: SIP project | <a href="https://sigue.com/" target="_blank">Sigue Corporation</a></summary>
            <p class="job-from">Aug, 2013 - Aug, 2015</p>
            <p class="job-description"><b>Responsibilities:</b><br>
            The SIP Project was created to reduce the cost of the company's main toll-free 800 number, where all our customers called to </p>
        </details>
    <hr>
    <h2>Education</h2>
    <details>
        <summary><b>Institution:</b> California State University of Northridge</summary>
        <p>Bachelors of Arts in Geographic Information Systems</p>
    </details>
    <hr>
    <h2>Skill-Set</h2>
    <ul>
        <li>Python</li>
        <li>Java</li>
        <li>HTML/CSS</li>
        <li>Jscript</li>
        <li>JQuery</li>
        <li>SQL</li>
        <li>Command Line/PowerShell</li>
        <h4>Web-Development Frameworks</h4>
        <ul>
            <li>Flask</li>
        </ul>
    </ul>
{% endblock %}